// icons
i {
  padding-right: 20px;
}

.circle-icon {
  background: $secondary;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  padding: 25px;
  margin-right: 20px;
}

// Read More Button
.read-more {
  background: $secondary;
  color: $primary;
  margin-top: 30px;
  padding: 8px;
  border: none;
}

// Contact Submit Button
form button {
  width: 100%;
  background: $secondary;
  color: $primary;
  border: 0;
  padding: 8px;
  font-family: $heading-font;
  font-weight: 400;
  font-style: italic;
  text-transform: uppercase;
}

// Blog Comment Button
.blog-comment button {
  background: $primary;
  color: $secondary;
}