//Index Header
.index-header {
  background-image: url(../assets/home-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  min-height: 400px;
}

.header-info {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  position: relative;
}

.header-info h1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 5%;
  padding-top: 13%;
  color: $secondary;
  text-shadow: 1px 1px #fff;
}

.header-info img {
  display: flex;
  justify-content: flex-end;
  width: 55%;
  position: absolute;
  top: 14%;
  right: 0;
}

//Secondary Headers
.secondary-header {
  background-image: url(../assets/contact-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  min-height: 300px;
  // border: 2px solid red;
}

.secondary-header ul {
  margin-top: 0;
  padding-top: 40px;
}

.secondary-header h1 {
  color: #fff;
}