// About Section
.about .wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 140px;
  padding-bottom: 100px;
  background: #eafefc;
}

.destinations,
.community,
.blog,
.contact {
  flex-basis: 50%;
  margin: 2% auto;
}

.destinations i,
.community i,
.blog i,
.contact i {
  color: $primary;
}

.destinations a,
.community a,
.blog a,
.contact a {
  color: $primary;
  text-decoration: none;
}

.destinations p,
.community p,
.blog p,
.contact p {
  margin-left: 105px;
}

//Programs and Locations Section
.programs-locations-container {
  background: $primary;
}

.programs,
.locations {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  justify-content: space-between;
  text-align: justify;
}

.locations {
  text-align: right;
}

.programs img,
.locations img {
  max-width: 45%;
  position: relative;
}

.programs img {
  top: -30px;
  left: 0;
  box-shadow: 12px 12px $secondary;
}

.locations img {
  bottom: -30px;
  right: 0;
  box-shadow: -12px 12px $secondary;
}

.programs-content,
.locations-content {
  padding: 50px;
  width: calc(55% - 80px);
}

.programs-locations-container h3,
.programs-locations-container p {
  color: #fff;
}

//Extra Vacation Days Styles
.extra-vacation-container .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
  height: 500px;
}

.extra-vacation-container {
  padding: 0 40px;
}

.extra-vacation-container h2 {
  color: $primary;
}

//Banner Image Style
.banner {
  background-image: url(../assets/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 200px;
  height: 400px;
}

//Trip Contest Styles
.win-trip .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
}

.win-trip {
  margin: 40px;
}

.trip-container {
  width: 60%;
}

.trip-img-container {
  width: 30%;
  box-shadow: -12px 12px $secondary;
  margin-right: 40px;
}

.trip-container h2 {
  color: $primary;
  padding-bottom: 10px;
}

//Image Gallery Styles
.gallery .full-bleed-wrapper {
  background: $primary;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex: 1 0 auto;
  padding: 50px 75px;
}

.gallery img {
  padding: 15px;
  width: 33%;
}
