ul.header-nav {
  display: flex;
  list-style-type: none;
  margin: 60px;
}

.header-nav a {
  color: #fff;
  text-decoration: none;
  text-shadow: 2px 2px #000;
}

.header-nav li {
   margin: 0 20px;  
}

.active {
  border-bottom: 3px solid $secondary;
}