ul.header-nav {
  display: flex;
  justify-content: space-around;
  flex: 1 0 auto;
  list-style-type: none;
  padding: 40px;
  margin: 4%;
  margin-top: 0;
  width: 35%;
}

.header-nav a {
  color: #fff;
  text-decoration: none;
  text-shadow: 2px 2px #000;
}

.header-nav li {
  text-align: center;
  // flex: 1 0 25%;
}

.active {
  border-bottom: 3px solid $secondary;
}