// Large Screens
@media (min-width: 1400px){
  //Global
  .full-bleed-wrapper {
    max-width: 1600px;
  }

  //Index Page
  .header-info img {
    top: 220px;
  }

  .header-nav li {
    font-size: 2.8rem;
  }

  // Contact Page
  .secondary-header h1 {
    padding-top: 40px;
  }

  // Blog Page
  body {
    font-size: 2.4rem;
  }
  .secondary-header h1 {
    font-size: 12rem;
  }
}

// Portrait tablet and small desktops
@media (max-width: 1024px){
  // Global
  body {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  h1 {
    font-size: 8rem;
    line-height: 10rem;
  }

  h2 {
    font-size: 3.2rem;
    line-height: 7rem;
  }

  h3 {
    font-size: 3rem;
  }

  //Index Page
  .index-header,
  .secondary-header {
    height: 80vh;
  }

  .header-info h1 {
    padding-top: 0;
    margin-left: 20px;
  }

  .header-info img {
    width: 45%;
  }
  .header-nav ul {
    margin-bottom: 0;
  }

  .about .wrapper {
    padding-top: 100px;
    padding-bottom: 80px;
  }

  // Contact Page
  .contact-container {
    flex-direction: column-reverse;
    margin-left: 0;
  }

  .contact-info {
    padding: 40px;
    padding-top: 0;
    text-align: center;
    font-size: 2.4rem;
    line-height: 3rem;
  }
  .contact-form {
    position: static;
    margin: 0 auto;
    margin: 40px 40px;
  }

  textarea {
    width: 100%;
  }

  // Blog Page
  .blog-comment input[type=text],
  .blog-comment input[type=email] {
    width: 46%;
  }
}

// Landscape phone to portrait tablet
@media (max-width: 768px){
  // Global
  body {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }

  h1 {
    font-size: 8rem;
    line-height: 10rem;
  }

  h2 {
    font-size: 2.8rem;
    line-height: 6rem;
  }

  h3 {
    font-size: 2.6rem;
  }  

  .read-more {
    font-size: 2rem;
    line-height: 3.6rem;
  }

  // Index Page
  .circle-icon {
    width: 60px;
    height: 60px;
    padding: 15px;
  }

  .index-header, .secondary-header {
    height: 60vh;
    background-position: right;
  }

  .header-info h1 {
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .header-info img {
    display: none;
  }

  .header-nav {
    font-size: 2rem;
  }

  .destinations h2,
  .community h2,
  .blog h2,
  .contact h2 {
    justify-content: flex-start;
  }

  .destinations p,
  .community p,
  .blog p,
  .contact p {
    margin-left: 0;
  }

  .programs {
    padding-bottom: 40px;
  }

  .programs img, .locations img {
    position: static;
    box-shadow: none;
  }

  .programs-content, .locations-content {
    padding: 20px;
    width: 50%;
  }

  // Contact Page
  .secondary-header h1 {
    // font-size: 8.6rem;
    padding-top: 40px;
  }

  .contact-container {
    box-shadow: none;
  }

  .contact-form {
    margin: 20px 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  // Blog Page
  h4 {
    font-size: 2.2rem;
    line-height: 3rem;
    padding: 12px 0;
  }

  .blog-navigation {
    height: 750px;
  }

  .blog-navigation img {
    position: static;
    width: 100%;
  }

  .blog-navigation ul {
    padding: 4px;
  }
}

// Landscape phones and down
@media (max-width: 480px){
  //Global
  body {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  h1 {
    font-size: 5.2rem;
    line-height: 6rem;
  }

  h2 {
    font-size: 2.4rem;
    line-height: 4rem;
    // text-align: center;
  }

  h3 {
    font-size: 2.2rem;
  }

  .read-more {
    font-size: 1.8rem;
    line-height: 3rem;
  }

  // Index Page
  .index-header, .secondary-header {
    height: 40vh;
  }

  .menu-toggle {
    display: flex;
    justify-content: flex-start;
  }

  ul.header-nav {
    display: none;
  }

  .about {
    display: block;
    // padding-top: 0;
  }

  .about .wrapper {
    padding-top: 60px;
  }

  .destinations {
    padding-top: 0;
  }

  .destinations,
  .community,
  .blog,
  .contact {
    flex-basis: 100%;
    padding: 10px;
  }

  .programs {
    flex-direction: column;
  }

  .locations {
    flex-direction: column-reverse;
  }

  .programs-content, .locations-content {
    width: 100%;
    text-align: center;
  }

  .programs img, .locations img {
    width: 100%;
    max-width: 100%;
  }

  .extra-vacation-container h2, .win-trip .wrapper h2 {
    text-align: center;
  }

  .extra-vacation-container .wrapper {
    height: 400px;
  }

  .banner {
    height: 300px;
  }

  .win-trip img {
    display: none;
  }

  .win-trip .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
    width: 100%;
  }

  .win-trip {
    margin: 20px 10px;
  }

  .gallery .full-bleed-wrapper {
    padding: 18px 24px;
  }

  .gallery img {
    width: 45%;
  }

  .gallery img:last-of-type {
    display: none;
  }

  //Contact Page
  .contact-form {
    margin-left: 10px;
    margin-right: 10px;
  }

  textarea {
    height: 80%;
  }

  .contact-info {
    font-size: 1.8rem;
    line-height: 2rem;
  }

  // Blog Page
  .post {
    flex-direction: column-reverse;
  }

  .blog-post {
     justify-content: center;
     align-items: center;
     width: 100%;
  }

  .blog-content {
    padding: 20px;
    border: 2px solid #fdd908;
    margin-top: 20px;
  }

  .blog-img-container {
    display: none;
  }

  .comments {
    padding-left: 20px;
  }

  .comments h3 {
    font-size: 2.8rem;
    text-align: center;
  }

  .display-picture {
    width: 30%;
  }

  .blog-navigation {
    width: 90%;
    height: 620px;
    margin: 20px auto;
    padding-top: 16px;
  }
}

// Smallest -iphone 5SE
@media(max-width: 320px){
  // Global
  body {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  h1 {
    font-size: 3.4rem;
    line-height: 4rem;
    text-shadow: 1px 1px #000;
  }

  h2 {
    font-size: 2.2rem;
    line-height: 3rem;
  }

  h3 {
    font-size: 2rem;
  }

  .read-more {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  // Index Page
  .about i {
    display: none;
  }

  .about {
    text-align: center;
  }

  .about .wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  //Contact Page
  textarea {
    width: 70%;
    height: 70%;
  }

  // Blog Page {
    .secondary-header h1 {

    }
}