//Full-bleed wrapper
.full-bleed-wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

// Main content wrapper
.wrapper {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

// Footer Wrapper
.footer-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
}
