//full-bleed wrapper
.full-bleed-wrapper {
  width: 100%;
  max-width: 1600px;
  min-height: 300px;
  margin: 0 auto;
}

// /main content wrapper
.wrapper {
  width: 90%;
  max-width: 1400px;
  min-height: 300px;
  margin: 0 auto;
}

// Contact Form wrapper
.form-wrapper {
  margin: 0 auto;
  max-width: 1000px;
  max-height: 650px;
}

// Footer Wrapper
.footer-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1600px

}
