@import "partials/mixins-and-variables";
@import "partials/setup";
@import "partials/wrapper";
@import "partials/typography";
@import "partials/buttons";
@import "partials/nav";
@import "partials/header";
@import "partials/main";
@import "partials/queries";

img {
  width: 100%;
  display: block;
}

body {
  background: #eafefc;
}
